AD_Registry/.idea/AD_Registry.iml
AD_Registry/.idea/misc.xml
AD_Registry/.idea/modules.xml
AD_Registry/.idea/vcs.xml
AD_Registry/.idea/inspectionProfiles/profiles_settings.xml
**/__pycache__/

/.vs
# Ignorar la carpeta __pycache__ en cualquier ubicación del proyecto Python
__pycache__/

# Ignorar la carpeta node_modules en cualquier ubicación del proyecto Node.js
node_modules/

.idea/
.vscode/
