body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
}

nav {
    overflow: hidden;
    width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: row;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

.map-container {
    display: grid;
    grid-template-columns: repeat(20, 25px); /* 20 columnas de 25px cada una */
    grid-template-rows: repeat(20, 25px); /* 20 filas de 25px cada una */
    gap: 1px; /* Espacio de 1px entre las celdas */
    justify-content: center;
    max-width: 520px;
    margin: 0 auto; /* Centra el map-container horizontalmente */
}

.cell {
    width: 25px;
    height: 25px;
    border: 1px solid #ccc;
}

.red {
    background-color: #ff4d4d;
}

.green {
    background-color: #66ff66;
}

.description {
    margin-top: 20px;
    max-width: 520px;
    text-align: center;
}
