# Node.js dependencies
node_modules/

# Archivos de registro
logs/

# Archivos temporales
*.log
*.tmp

# Archivos de construcción
/build

# Archivos de dependencias específicos de sistema operativo (por ejemplo, para Windows)
*.bat

# Archivos de configuración de desarrollo local
config/local.json
*.db
